<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>id.sortir.kasirpintar.harian</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/okiputra/Library/Scripts/kasirpintar_harian.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/okiputra/Library/Logs/kasirpintar-err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/okiputra/Library/Logs/kasirpintar-out.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>7</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
